  <head>
    <title>Nightwatch Reporter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="wrap">
      <div id="main">
        <section id="navigation">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="https://nightwatchjs.org" target="_blank"><div class="logo"></div></a>
            </nav>
          </div>
        </section>
        <section id="auxbar">
          <div class="container-fluid">
            <div class="row">
              <div class="auxcol col-md-4 align-items-center">
                <div class="auxcontainer">
                  <div class="auxbox autobox">
                  </div>
                </div>
              </div>
              <div class="auxcol col-md-4 align-items-center">
                <div class="auxcontainer align-h-center">
                  <h1>Nightwatch.js – <strong>Test Report</strong></h1>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="sessions">
          <div class="row">
          <div class="col-md-12">
          <div class="container-fluid">
            
                <div id="s1" class="sessionbox">
                  
  <div class="sessionbox-indicator indicator-success sessionbox-padding">
    <div class="row">
      <div class="col-md-1">
        <div class="statusbadge statusbadge-success">Success</div>
      </div>
      
      <div class="col-md-11 separator-l">
        <div class="row sessionbox-head">
          <div class="col-md-8">
             todo
          </div>
        </div>
        <div id="tabs-s1" class="row sessionbox-tabs">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                <a class="nav-item nav-link active" id="nav-s1-t1-tab" data-bs-toggle="tab" href="#nav-s1-t1" role="tab" aria-controls="nav-s1-t1" aria-selected="true">Details</a>
                <a class="nav-item nav-link" id="nav-s1-t3-tab" data-bs-toggle="tab" href="#nav-s1-t3" role="tab" aria-controls="nav-s1-t3" aria-selected="true">Raw HTTP Log</a>
              </div>
            </nav>

            <div class="tab-content" id="nav-tab1Content">
              <div class="tab-pane show active" id="nav-s1-t1" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="statgroup autobox">
                      <div class="statbox autobox">
                        <div class="label-sessionfull">Status</div>
                        <div class="stat-sessionfull">PASSED</div>
                      </div>
                    </div>
                    <div class="statgroup autobox">
                     <div class="statbox autobox">
                       <div class="label-sessionfull">Tests</div>
                       <div class="stat-sessionfull">4</div>
                     </div>
                     <div class="statbox autobox">
                      <div class="label-sessionfull">Failed</div>
                      <div class="stat-sessionfull">0</div>
                    </div>
                    <div class="statbox autobox">
                      <div class="label-sessionfull">Errors</div>
                      <div class="stat-sessionfull">0</div>
                    </div>
                    <div class="statbox autobox">
                      <div class="label-sessionfull">Module Path</div>
                      <div class="stat-sessionfull">/tests/todo.js</div>
                    </div>
                    </div>
                    <div class="statgroup autobox">
                      <div class="statbox autobox">
                        <div class="label-sessionfull">Duration</div>
                        <div class="stat-sessionfull">27.11 secs</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane raw-http-log" id="nav-s1-t3" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="raw-http-log code-sessionfull"><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session  </span></b></div><div>{
     desiredCapabilities: { browserName: <span style="color:#0A0">&#39;firefox&#39;<span style="color:#FFF">, name: <span style="color:#0A0">&#39;Test automation FE - todo.ly&#39;<span style="color:#FFF"> },
     capabilities: { alwaysMatch: { browserName: <span style="color:#0A0">&#39;firefox&#39;<span style="color:#FFF"> } }
  }</span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session (2598ms)</div><div>{
     value: {
       sessionId: <span style="color:#0A0">&#39;82b4315d-bd79-48e4-81f5-14339f286ab2&#39;<span style="color:#FFF">,
       capabilities: {
         acceptInsecureCerts: <span style="color:#A50">false<span style="color:#FFF">,
         browserName: <span style="color:#0A0">&#39;firefox&#39;<span style="color:#FFF">,
         browserVersion: <span style="color:#0A0">&#39;103.0.2&#39;<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:accessibilityChecks&#39;<span style="color:#FFF">: <span style="color:#A50">false<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:buildID&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;20220808125904&#39;<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:geckodriverVersion&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;0.30.0&#39;<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:headless&#39;<span style="color:#FFF">: <span style="color:#A50">false<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:platformVersion&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;20.6.0&#39;<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:processID&#39;<span style="color:#FFF">: <span style="color:#A50">96772<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:profile&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;/var/folders/_s/j2vrcl4j6_303w27xv50kfp40000gn/T/rust_mozprofileS7Nm0j&#39;<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:shutdownTimeout&#39;<span style="color:#FFF">: <span style="color:#A50">60000<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:useNonSpecCompliantPointerOrigin&#39;<span style="color:#FFF">: <span style="color:#A50">false<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:webdriverClick&#39;<span style="color:#FFF">: <span style="color:#A50">true<span style="color:#FFF">,
         <span style="color:#0A0">&#39;moz:windowless&#39;<span style="color:#FFF">: <span style="color:#A50">false<span style="color:#FFF">,
         pageLoadStrategy: <span style="color:#0A0">&#39;normal&#39;<span style="color:#FFF">,
         platformName: <span style="color:#0A0">&#39;mac&#39;<span style="color:#FFF">,
         proxy: {},
         setWindowRect: <span style="color:#A50">true<span style="color:#FFF">,
         strictFileInteractability: <span style="color:#A50">false<span style="color:#FFF">,
         timeouts: { implicit: <span style="color:#A50">0<span style="color:#FFF">, pageLoad: <span style="color:#A50">300000<span style="color:#FFF">, script: <span style="color:#A50">30000<span style="color:#FFF"> },
         unhandledPromptBehavior: <span style="color:#0A0">&#39;dismiss and notify&#39;<span style="color:#FFF">
       }
     }
  }</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/url  </span></b></div><div>{ url: <span style="color:#0A0">&#39;https://todo.ly&#39;<span style="color:#FFF"> }</span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/url (5148ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&quot;(//*[contains(text(),&#39;Get Organized&#39;)])&quot;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (13ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;e82549bf-e17b-403f-88d7-ac25c5cf6bf4&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/execute/sync  </span></b></div><div>{
     script: <span style="color:#0A0">&#39;return (function(){return (function(){var k=this||self;function aa(a){return&quot;string&quot;==typeof a}function ba(a,b){a=a.split(&quot;.&quot;);var c=k;a[0]in c||&quot;undefined&quot;==typeof c.execScript||c.execScript(&quot;var &quot;+a... (44027 characters)&#39;<span style="color:#FFF">,
     args: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;e82549bf-e17b-403f-88d7-ac25c5cf6bf4&#39;<span style="color:#FFF">,
         ELEMENT: <span style="color:#0A0">&#39;e82549bf-e17b-403f-88d7-ac25c5cf6bf4&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/execute/sync (12ms)</div><div>{ value: <span style="color:#A50">true<span style="color:#FFF"> }</span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&#39;(//div[3]/a/img)&#39;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (4ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;fa0a18d3-d8af-43fb-9d8b-beb6a5040efd&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/fa0a18d3-d8af-43fb-9d8b-beb6a5040efd/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/fa0a18d3-d8af-43fb-9d8b-beb6a5040efd/click (222ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{
     using: <span style="color:#0A0">&#39;css selector&#39;<span style="color:#FFF">,
     value: <span style="color:#0A0">&#39;#ctl00_MainContent_SignupControl1_TextBoxFullName&#39;<span style="color:#FFF">
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (5ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;91a8e963-a6dc-4a9c-bb47-c3486c0f09a7&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/91a8e963-a6dc-4a9c-bb47-c3486c0f09a7/clear  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/91a8e963-a6dc-4a9c-bb47-c3486c0f09a7/clear (4ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/91a8e963-a6dc-4a9c-bb47-c3486c0f09a7/value  </span></b></div><div>{ text: <span style="color:#0A0">&#39;gaby&#39;<span style="color:#FFF">, value: [ <span style="color:#0A0">&#39;g&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;a&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;b&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;y&#39;<span style="color:#FFF"> ] }</span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/91a8e963-a6dc-4a9c-bb47-c3486c0f09a7/value (9ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{
     using: <span style="color:#0A0">&#39;css selector&#39;<span style="color:#FFF">,
     value: <span style="color:#0A0">&#39;#ctl00_MainContent_SignupControl1_TextBoxEmail&#39;<span style="color:#FFF">
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (4ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;287956de-f900-48b9-a31f-b28d22a675fd&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/287956de-f900-48b9-a31f-b28d22a675fd/clear  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/287956de-f900-48b9-a31f-b28d22a675fd/clear (4ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/287956de-f900-48b9-a31f-b28d22a675fd/value  </span></b></div><div>{
     text: <span style="color:#0A0">&#39;2660153@yopmail.com&#39;<span style="color:#FFF">,
     value: [
       <span style="color:#0A0">&#39;2&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;6&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;6&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;0&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;1&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;5&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;3&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;@&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;y&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;o&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;p&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;m&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;a&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;i&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;l&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;.&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;c&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;o&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;m&#39;<span style="color:#FFF">
     ]
  }</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/287956de-f900-48b9-a31f-b28d22a675fd/value (10ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{
     using: <span style="color:#0A0">&#39;css selector&#39;<span style="color:#FFF">,
     value: <span style="color:#0A0">&#39;#ctl00_MainContent_SignupControl1_TextBoxPassword&#39;<span style="color:#FFF">
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (2ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;f6a01cb4-9c68-4722-9426-a1a382c5cd39&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/f6a01cb4-9c68-4722-9426-a1a382c5cd39/clear  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/f6a01cb4-9c68-4722-9426-a1a382c5cd39/clear (3ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/f6a01cb4-9c68-4722-9426-a1a382c5cd39/value  </span></b></div><div>{
     text: <span style="color:#0A0">&#39;control&#39;<span style="color:#FFF">,
     value: [
       <span style="color:#0A0">&#39;c&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;o&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;n&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;t&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;r&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;o&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;l&#39;<span style="color:#FFF">
     ]
  }</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/f6a01cb4-9c68-4722-9426-a1a382c5cd39/value (5ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{
     using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">,
     value: <span style="color:#0A0">&quot;(//input[@id=&#39;ctl00_MainContent_SignupControl1_CheckBoxTerms&#39;])&quot;<span style="color:#FFF">
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (5ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;affa6436-979a-47ce-adfd-31e1a7481c19&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/affa6436-979a-47ce-adfd-31e1a7481c19/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/affa6436-979a-47ce-adfd-31e1a7481c19/click (212ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{
     using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">,
     value: <span style="color:#0A0">&quot;(//input[@id=&#39;ctl00_MainContent_SignupControl1_ButtonSignup&#39;])&quot;<span style="color:#FFF">
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (5ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;b37c1572-e8a6-4583-94f5-4ab9cbee8e5f&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/b37c1572-e8a6-4583-94f5-4ab9cbee8e5f/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/b37c1572-e8a6-4583-94f5-4ab9cbee8e5f/click (2078ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&quot;(//div[@id=&#39;MainContentArea&#39;]/div[2])&quot;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (6ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;019ecb32-40b3-45da-becf-e75c1c54e6bf&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/execute/sync  </span></b></div><div>{
     script: <span style="color:#0A0">&#39;return (function(){return (function(){var k=this||self;function aa(a){return&quot;string&quot;==typeof a}function ba(a,b){a=a.split(&quot;.&quot;);var c=k;a[0]in c||&quot;undefined&quot;==typeof c.execScript||c.execScript(&quot;var &quot;+a... (44027 characters)&#39;<span style="color:#FFF">,
     args: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;019ecb32-40b3-45da-becf-e75c1c54e6bf&#39;<span style="color:#FFF">,
         ELEMENT: <span style="color:#0A0">&#39;019ecb32-40b3-45da-becf-e75c1c54e6bf&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/execute/sync (12ms)</div><div>{ value: <span style="color:#A50">true<span style="color:#FFF"> }</span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{
     using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">,
     value: <span style="color:#0A0">&quot;(//table[@id=&#39;MainTable&#39;]/tbody/tr/td/div[6]/div)&quot;<span style="color:#FFF">
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (5ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;96214264-918f-4fc8-9585-3550d829cf08&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/96214264-918f-4fc8-9585-3550d829cf08/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/96214264-918f-4fc8-9585-3550d829cf08/click (216ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;css selector&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&#39;#NewProjNameInput&#39;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (5ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;43aa4074-5a23-45aa-b1d8-ccaebbdbf0fa&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/43aa4074-5a23-45aa-b1d8-ccaebbdbf0fa/clear  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/43aa4074-5a23-45aa-b1d8-ccaebbdbf0fa/clear (4ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/43aa4074-5a23-45aa-b1d8-ccaebbdbf0fa/value  </span></b></div><div>{
     text: <span style="color:#0A0">&#39;project2660153&#39;<span style="color:#FFF">,
     value: [
       <span style="color:#0A0">&#39;p&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;r&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;o&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;j&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;e&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;c&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;t&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;2&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;6&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;6&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;0&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;1&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;5&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;3&#39;<span style="color:#FFF">
     ]
  }</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/43aa4074-5a23-45aa-b1d8-ccaebbdbf0fa/value (12ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&quot;(//input[@id=&#39;NewProjNameButton&#39;])&quot;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (6ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;ccadb5ce-334a-492f-a197-1ea5dce6169c&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/ccadb5ce-334a-492f-a197-1ea5dce6169c/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/ccadb5ce-334a-492f-a197-1ea5dce6169c/click (217ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;css selector&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&#39;#NewItemContentInput&#39;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (6ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;17654e29-212c-4cf1-a35d-01cf303c967c&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/17654e29-212c-4cf1-a35d-01cf303c967c/clear  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/17654e29-212c-4cf1-a35d-01cf303c967c/clear (4ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/17654e29-212c-4cf1-a35d-01cf303c967c/value  </span></b></div><div>{
     text: <span style="color:#0A0">&#39;item2660153&#39;<span style="color:#FFF">,
     value: [
       <span style="color:#0A0">&#39;i&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;t&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;e&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;m&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;2&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;6&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;6&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;0&#39;<span style="color:#FFF">,
       <span style="color:#0A0">&#39;1&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;5&#39;<span style="color:#FFF">, <span style="color:#0A0">&#39;3&#39;<span style="color:#FFF">
     ]
  }</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/17654e29-212c-4cf1-a35d-01cf303c967c/value (13ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&quot;(//input[@id=&#39;NewItemAddButton&#39;])&quot;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (6ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;6cf146c6-19ba-4b37-ac1b-4444b1387934&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/6cf146c6-19ba-4b37-ac1b-4444b1387934/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/6cf146c6-19ba-4b37-ac1b-4444b1387934/click (218ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&#39;(//li[6]/div )&#39;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (6ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;0620ee8f-138d-4162-8602-17e11b5f3d55&#39;<span style="color:#FFF">
       },
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;4e542112-1f51-4d87-ac8b-5ea510453818&#39;<span style="color:#FFF">
       },
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;6ac0a5b3-88de-44a4-aaac-3fa30fbf6b47&#39;<span style="color:#FFF">
       },
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;7051adb5-b245-4d02-bf91-1b5c959f1d12&#39;<span style="color:#FFF">
       },
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;2de3caa8-5111-4bf1-ae52-bfdcbbeab5f8&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/0620ee8f-138d-4162-8602-17e11b5f3d55/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/0620ee8f-138d-4162-8602-17e11b5f3d55/click (213ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&quot;((//img[@title=&#39;Options&#39;])[10])&quot;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (5ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;941ee3e2-656d-4292-8d5e-4070a6a1c5ae&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/941ee3e2-656d-4292-8d5e-4070a6a1c5ae/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/941ee3e2-656d-4292-8d5e-4070a6a1c5ae/click (221ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements  </span></b></div><div>{ using: <span style="color:#0A0">&#39;xpath&#39;<span style="color:#FFF">, value: <span style="color:#0A0">&#39;(//td/div/div/ul/li[4]/a)&#39;<span style="color:#FFF"> }</span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/elements (4ms)</div><div>{
     value: [
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;7b940135-26af-4df2-99b7-a2f0c5d6f950&#39;<span style="color:#FFF">
       },
       {
         <span style="color:#0A0">&#39;element-6066-11e4-a52e-4f735466cecf&#39;<span style="color:#FFF">: <span style="color:#0A0">&#39;8c68caba-b249-475b-b7f6-e8ac6efdf897&#39;<span style="color:#FFF">
       }
     ]
  }</span></span></span></span></span></span></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/7b940135-26af-4df2-99b7-a2f0c5d6f950/click  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/element/7b940135-26af-4df2-99b7-a2f0c5d6f950/click (63ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">GET /session/82b4315d-bd79-48e4-81f5-14339f286ab2/alert/text  </span></b></div><div><span style="color:#0A0">&#39;&#39;<span style="color:#FFF"></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 GET /session/82b4315d-bd79-48e4-81f5-14339f286ab2/alert/text (4ms)</div><div>{ value: <span style="color:#0A0">&#39;Do you really want to delete the selected project?&#39;<span style="color:#FFF"> }</span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/alert/accept  </span></b></div><div>{}</div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 POST /session/82b4315d-bd79-48e4-81f5-14339f286ab2/alert/accept (19ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Request <b><span style="color:#0AA">DELETE /session/82b4315d-bd79-48e4-81f5-14339f286ab2  </span></b></div><div><span style="color:#0A0">&#39;&#39;<span style="color:#FFF"></span></span></div><div style="margin-left: -15px;margin-top: 10px; background: #0c5460">  Response 200 DELETE /session/82b4315d-bd79-48e4-81f5-14339f286ab2 (520ms)</div><div>{ value: <b>null<span style="font-weight:normal;text-decoration:none;font-style:normal"> }</span></b></div></div>
                  </div>
                </div>
              </div>
            
            </div>


          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="sessionfull-accordion">
            
                <div class="card">
   

    <div class="card-header" id="h2">
      <h5 class="mb-0">
        <button class="btn btn-link btn-collapse" data-bs-toggle="collapse" data-bs-target="#s0ac1" aria-expanded="false" aria-controls="s0ac1">
          Sign UP
        </button>
      </h5>
    </div>

    <div id="s0ac1" class="collapse" aria-labelledby="s0ah1" data-bs-parent="#sessionfull-accordion">
<div class="card-body"><pre>
<div class="code-session-full"><span style="color:#0EDC8A">✔</span> Element &lt;(//*[contains(text(),&#39;Get Organized&#39;)])&gt; was visible after 28 milliseconds.</div></pre></div></div>

</div>
              
                <div class="card">
   

    <div class="card-header" id="h2">
      <h5 class="mb-0">
        <button class="btn btn-link btn-collapse" data-bs-toggle="collapse" data-bs-target="#s0ac2" aria-expanded="false" aria-controls="s0ac2">
          Select &#34;Add new Project&#34; 
        </button>
      </h5>
    </div>

    <div id="s0ac2" class="collapse" aria-labelledby="s0ah2" data-bs-parent="#sessionfull-accordion">
<div class="card-body"><pre>
<div class="code-session-full"><span style="color:#0EDC8A">✔</span> Element &lt;(//div[@id=&#39;MainContentArea&#39;]/div[2])&gt; was visible after 19 milliseconds.</div></pre></div></div>

</div>
              
                <div class="card">
   

    <div class="card-header" id="h2">
      <h5 class="mb-0">
        <button class="btn btn-link btn-collapse" data-bs-toggle="collapse" data-bs-target="#s0ac3" aria-expanded="false" aria-controls="s0ac3">
          Create new Project
        </button>
      </h5>
    </div>

    <div id="s0ac3" class="collapse" aria-labelledby="s0ah3" data-bs-parent="#sessionfull-accordion">
<div class="card-body"><pre>
</pre></div></div>

</div>
              
                <div class="card">
   

    <div class="card-header" id="h2">
      <h5 class="mb-0">
        <button class="btn btn-link btn-collapse" data-bs-toggle="collapse" data-bs-target="#s0ac4" aria-expanded="false" aria-controls="s0ac4">
          Delete the project created
        </button>
      </h5>
    </div>

    <div id="s0ac4" class="collapse" aria-labelledby="s0ah4" data-bs-parent="#sessionfull-accordion">
<div class="card-body"><pre>
</pre></div></div>

</div>
              
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                
          </div>
          </div>
         </div>
        </section>
      </div>
    </div>

    <section id="footer">
      <div class="container-fluid">
        <div class="row footerstarbg">
          <div class="col-md-12">
            <nav class="footer-box">
              <div class="footer-links">
                  <a class="cr" href="https://nightwatchjs.org" target="_blank">© 2022 Nightwatch.js</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <script src="js/bootstrap.min.js"></script>
  </body>
